.AboutMe {
  background: #e9dfdb;
  /* width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; */
  min-height: calc(100vh - 50px - 64px);
  font-family: Roboto;
  /* padding-top: 3rem;
  padding-bottom: 2rem; */
  display: flex;
  align-items: center;
}
.AboutMe img {
  height: 15rem;
  border-radius: 50%;
}
.AboutMe h1 {
  padding-top: 2.5rem;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 2.5rem;
}

.AboutMe p {
  font-size: 1.25rem;
  margin: 0;
  padding-bottom: 2rem;
}
/* @media (max-width: 600px) {
  .AboutMe img {
    height: 8rem;
    border-radius: 50%;
  }
  .AboutMe h1 {
    font-size: 1.5rem;
  }
  .AboutMe p {
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 600px) {
  .AboutMe img {
    height: 12rem;
    border-radius: 50%;
  }
  .AboutMe h1 {
    padding-top: 2rem;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 2rem;
  }

  .AboutMe p {
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 2rem;
  }
}

@media (min-width: 900px) {
  .AboutMe img {
    height: 12rem;
  }
  .AboutMe h1 {
    font-size: 2rem;
  }
  .AboutMe p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .AboutMe img {
    height: 15rem;
  }
  .AboutMe h1 {
    font-size: 2.5rem;
  }
  .AboutMe p {
    font-size: 1.75rem;
  }
} */
