.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #636fa4, #e8cbc0);
  background: linear-gradient(to right, #636fa4, #e8cbc0);
  height: 64px;
  /* height: 5vh; */
  font-family: Oxygen;
  font-weight: bold;
  z-index: 200;
}
.navbar .navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.navbar .navbar_logo {
  margin-left: 5rem;
}
.navbar .navbar_logo a {
  color: #e8cbc0;
  font-size: 1.5rem;
  text-decoration: none;
}
.navbar .navbar_logo a:hover,
.navbar .navbar_logo .selected {
  color: black;
}
.navbar .spacer {
  flex: 1;
}
.navbar .navbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar .navbar_navigation_items li {
  padding: 0 1rem;
}
.navbar .navbar_navigation_items a {
  color: #636fa4;
  text-decoration: none;
  font-size: 1rem;
}
.navbar .navbar_navigation_items a:hover,
.navbar .navbar_navigation_items .selected {
  color: black;
}

@media (max-width: 900px) {
  .navbar_navigation_items {
    display: none;
  }
  .navbar_logo {
    display: none;
  }
}
@media (min-width: 901px) {
  .navbar_toggleButton {
    display: none;
  }
  .navbar_logo {
    margin-left: 1rem;
  }
}
